.allcustomers_column_container {
  display: flex;
  border-style: inset;
  border-width: 0.5px;
  padding: 4px 0;
}

.allcustomers_column_count_lable {
  flex: 0.15;
  margin-left: 10vmax;
}

.allcustomers_column_id_lable {
  flex: 0.15;
}

.allcustomers_column_name_lable {
  flex: 0.68;
}
