.home_totalling_Field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2px;
  font-size: 1.1rem;
}

.home_totalMilk_Field {
  width: 7.5%;
  margin-left: 60vmax;
}

.home_total_Amount_Field {
  width: 7.5%;
  margin-right: 1.8vmax;
}
