.Week_Payment_container {
  display: flex;
}

.Week_Payment_name_container {
  width: 65%;
}

.week_divider {
  width: 35%;
  display: flex;
}

.week_divider2 {
  flex: 0.33;
}

.week_divider3 {
  flex: 0.33;
}

.week_divider4 {
  flex: 0.33;
}

.weekpayment_totalling_Field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2px;
  font-size: 1.1rem;
}

.weekpayment_totalMilk_Field {
  width: 7.5%;
  margin-left: 43vmax;
}

.weekpayment_total_Amount_Field {
  width: 7.5%;
  margin-right: 5vmax;
}

.box_component {
  background-color: "black";
  border-color: "black";
  width: 65vw;
}

@media print {
  .week_divider {
    display: none;
  }

  .Week_Payment_name_container {
    width: 100%;
  }

  .weekpayment_totalMilk_Field {
    width: 7.5%;
    margin-left: 40.5vmax;
  }

  .weekpayment_total_Amount_Field {
    width: 7.5%;
    margin-right: 42vmax;
  }

  .box_component {
    background-color: "black";
    border-color: "black";
    width: 100vw;
  }
}
