.filter_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(241, 132, 60);
  color: white;
  font-weight: 100;
  padding: 15px 15px;
}

.fromdate_lable {
  display: flex;
}

.fromdate_datepicker {
  width: 9vmax;
  text-align: center;
  margin-left: 10px;
  border-style: none;
  height: 23px;
  font-size: 16px;
}

.todate_lable {
  display: flex;
}

.todate_datepicker {
  width: 9vmax;
  text-align: center;
  margin-left: 10px;
  border-style: none;
  height: 23px;
  font-size: 16px;
}

.submit_input {
  border-style: none;
  width: 8vmax;
  height: 23px;
  font-size: 16px;
}

@media print {
  .filter_container {
    display: none;
  }
}
