.weekpayment_column_container {
  display: flex;
  border-style: inset;
  border-width: 0.5px;
  padding: 4px 0;
  padding-left: 10px;
}

.weekpayment_column_sno_lable {
  flex: 0.08;
}

.weekpayment_column_id_lable {
  flex: 0.08;
}
.weekpayment_column_name_lable {
  flex: 0.5;
}

.weekpayment_column_quantity_lable {
  flex: 0.2;
}

.weekpayment_column_amount_lable {
  flex: 0.1;
}

.weekpayment_column_checkbox {
  transform: scale(1.5);
}

@media print {
  .weekpayment_column_container {
    padding-left: 30px;
  }
  .weekpayment_column_sno_lable {
    flex: 0.05;
  }

  .weekpayment_column_id_lable {
    flex: 0.05;
  }
  .weekpayment_column_name_lable {
    flex: 0.3;
  }

  .weekpayment_column_quantity_lable {
    flex: 0.1;
  }

  .weekpayment_column_amount_lable {
    flex: 0.1;
  }

  .weekpayment_column_checkbox {
    display: none;
  }
}
