.header_container {
  display: flex;
  background-color: rgb(135, 167, 216);
  color: white;
  font-weight: 100;
  position: sticky;
  top: 0;
  padding-left: 10px;
}
.header_part1 {
  display: flex;
  width: 70%;
}
.header_part2 {
  display: flex;
  width: 30%;
}

.header_sno_lable {
  flex: 0.075;
}

.header_id_lable {
  flex: 0.075;
}

.header_name_lable {
  flex: 0.46;
}

.header_quantity_lable {
  flex: 0.18;
}

.header_amount_lable {
  flex: 0.1;
}

.header_particular_lable {
  display: none;
}

.header_signature_lable {
  display: none;
}

.header_Last_Week_lable {
  flex: 0.3;
}

.header_Second_Last_lable {
  flex: 0.35;
}

.header_Third_Last_lable {
  flex: 0.35;
}

@media print {
  .header_container {
    padding-left: 30px;
  }
  .header_part1 {
    display: flex;
    width: 100%;
  }
  .header_part2 {
    display: none;
  }

  .header_sno_lable {
    flex: 0.05;
  }

  .header_id_lable {
    flex: 0.05;
  }

  .header_name_lable {
    flex: 0.3;
  }

  .header_quantity_lable {
    flex: 0.1;
  }

  .header_amount_lable {
    flex: 0.15;
  }

  .header_particular_lable {
    display: flex;
    flex: 0.15;
  }

  .header_signature_lable {
    display: flex;
    flex: 0.15;
  }
}
